* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

header {
  align-content: center;
  color: #008080;
  font-size: 117px;
  margin-left: 6px;
  color: #008080;
  margin-bottom: 135px;
}


header: after {
    display: block;
    margin-right: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

.content {
	text-align: left;
	background: url(../images/country-quilt.png);
}

h1 {
	font-family: 'Sigmar One'; 
	font-size: 50px;
	color: #8a69ee; 
}

a {
	text-decoration: none;
}


.list {
	text-align: left;
	width: 400px;
	display: inline-block;
	padding: 40px;
	
}

.list1 {
	background-color: red;
	
}


.list2 {
	background-color: red;
	

}

.list3 {
	background-color: red;
	
}


.common {
	font-family: 'Ultra', serif;
	font-size: 35px;
	color: white;
	margin: 20px;
	padding: 10px;
}

.list1:hover {
	transform: scale(1.5);
}

.list2:hover {
	transform: scale(1.5);
}

.list3:hover {
	transform: scale(1.5);
}