* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

header {
  align-content: center;
  color: #008080;
  font-size: 117px;
  margin-left: 6px;
  color: #008080;
  margin-bottom: 135px;
}


header: after {
    display: block;
    margin-right: 400px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-image: initial;
}

.content {
  text-align: center;
  background: url(../images/country-quilt.png);
}

.Answer {
  font-family: 'Sigmar One'; 
  font-size: 50px;
  color: #8a69ee; 
}

